
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digital Styleguide - Eindopdracht NMD-I</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<style>h2{text-decoration: underline}
h2{font-family: fantasy}

</style>
    <h1>Digital Styleguide</h1>

            <h2>Tekst</h2>

<h4 style="font-family:Oswald">Oswald</h4>
<p style="font-family:Oswald">
-lettertype: Oswald(Bold) <br>
-lettergrootte: 40px<br>
-kleur (RGB):255,255,255
-padding:51
</p>
<h4 style="font-family:PenultimateLightItal">PenultimateLightItal</h4>
<p>
-lettertype: PenultimateLightItal <br>
-lettergrootte: 110px, 60px, 43 px, 120 px, 65 px<br>
-kleur (RGB):2,33,26
</p>

<h4 style="font-family:Arial, Helvetica, sans-serif">Arial</h4>
<p>
-lettertype: Arial <br>
-lettergrootte: 30px; 43 px, 66px <br>
-kleur (RGB):255,255,255
</p>
<h4 style="font-family:Woodcut">Woodcut</h4>
<p>
-lettertype: Woodcut <br>
-lettergrootte: 40px<br>
-kleur (RGB):236,223,95
</p>

        <h2>Kleuren Buttons</h2>
      <div style="background-color:#008C6E">
            <h4>Appelblauwzeegroen</h4>
          </div>
<p>-RGB:0,140,110</p>
<p>-Hex:#008C6E</p>
<p>-HSL:167,100.0,27.5</p>
<div style="background-color:#02211A">
        <h4>Donkergroen</h4>
      </div>
<p>-RGB:2,33,26</p>
<p>-Hex:#02211A</p>
<p>-HSL:88.116,88.6,6.9</p>
<div style="background-color:#E4E4E4">
        <h4>gebroken wit</h4>
      </div>
<p>-RGB:228,228,228</p>
<p>-Hex:#E4E4E4</p>
<p>-HSL:0,0.0,89.4</p>
<div style="background-color:#DAA667">
        <h4>Beige</h4>
      </div>
<p>-RGB:218,166,103</p>
<p>-Hex:#DAA667</p>
<p>-HSL:33,60.8,62.9</p>


        <h2>Afmeting buttons</h2>

<h4> button taal</h4>
<p>-width:66</p>
<p>-height:66</p>
<p>-border-radius: 50%</p>
<h4> button get your tickets</h4>
<p>-width:408</p>
<p>-height:93</p>

<h4> home button</h4>

        </style>
<p>-width:141</p>
<p>-height:141</p>
<p>-border-radius: 50%</p>
<p>-border: 2</p>
<h4> buttons social media</h4>
<style>

</style>
<p>-width:55.44</p>
<p>-height:55.44</p>
<h4> button partners,festival info</h4>
<p>-width:434</p>
<p>-height:115</p>
<p>-border-radius: 50%</p>
<h4> button camping site</h4>
<p>-width:854</p>
<p>-height:209</p>
<p></p>
</body>
</html>